<!--general list  *ngIf=!searchResults -->

<main>
  <section *ngIf="!searchResults">
    <h1>Recipe Result</h1>

    <div class="container">
      <ul *ngFor="let item of recipes">
        <div class="title">{{ item.hits.recipe.label }}</div>
        <div a class="url" ng-href="url">{{ item.hits.recipe.url }}</div>
        <img [src]="item.hits.recipe.image" />
        <button class="fav">Add to Fav</button>
      </ul>
    </div>
  </section>
</main>

<!--Search Specific *ngIf=searchResults-->
<!--add more details-->
<main>
  <section *ngIf="searchResults">
    <div class="container">

      <ul>

        <!--Title and Image of Recipe-->
        <div class="title">{{ recipe.data.label }}</div>

        <div class="image">
        <img [src]="recipe.data.image" />
      </div>
<!--Spacing-->
        <div class="placeholder"></div>

<!--Fav Button-->
        <div class="center_button">
        <button class="fav" (click)="addToFav()">Add to Fav</button>
      </div>
      

        <!--Link to open new window for OG link-->
        <p>Click Link Below For Ingredients:</p>
        <a class="url" href="{{recipe.data.url}}" target="_blank" alt=" ">{{recipe.data.url}}</a>


        <!--Dish details-->
      
        <div class="cal"> Calories: {{ recipe.data.calories }}</div>
        <div class="time"> Total Time: {{ recipe.data.totalTime }}</div>
        <div class="weight"> Weight: {{ recipe.data.totalWeight }}</div>
        <div class="caution"> Caution: {{ recipe.data.cautions}}</div>
       
      </ul>
    </div>
  </section>
</main>
