<main>
  <section>
    <div class="top">
      <h1>My Favorite Recipes</h1>
      <p class="subheader">Your own digital cookbook</p>
    </div>
    <div class="floatBox" *ngFor="let item of myFavorites; index as i">
      <div class="one">
        <b>{{ item.Title }}</b>
      </div>
      <div class="two">Total Calories: {{ item.Calories }}</div>
      <div class="three">Servings: {{ item.Servings }}</div>
      <div class="five">
        <div class="sauceName">
          <b>A {{ item.Sauce }} Recipe</b>
        </div>
        <div class="linky">
          <a href="{{ item.Link }}" alt="Link not shown">See Recipe Here</a>
        </div>
      </div>
      <div class="four">
        <div class="restrict">
          This recipe may include items in your dietary restrictions
        </div>
        <b
          >{{ item.Warning }}
          {{ item.Diet }}
          {{ item.Health }}</b
        >
      </div>
      <img class="imgBox" src="{{ item.Image }}" alt="image not loading" />
      <button (click)="removeRecipe(i)" class="del">
        Delete from Favorites
      </button>
    </div>
  </section>
</main>
