<head>
  <!-- <link
    href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
    rel="stylesheet"
  /> -->
</head>
<main>
  <section>
    <div class="top">
      <h1>My Favorite Recipes</h1>
      <p class="subheader">Your own digital cookbook!</p>
    </div>
    <div class="row">
      <div class="highlightRecipe">
        <div class="column" *ngFor="let item of myFavorites; index as i">
          <!-- ngIf possibly to say "condition; then method1 else method2 to display info" -->
          <div class="item_container">
            <div class="one">{{ item.Title }}</div>
            <div class="two">Total Calories:{{ item.Calories }}</div>
            <div class="three">{{ item.Health }}</div>
            <div class="four">Servings:{{ item.Servings }}</div>
            <button (click)="removeRecipe(i)" class="del">
              X
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <p class="textOne">
        White Chicken Chili<br />
        Total Calories: 1000
      </p>
      <div class="item_container"></div>
    </div>
    <div class="column">
      <div class="item_container"></div>
    </div>
    <div class="column">
      <div class="item_container"></div>
    </div>
    <div class="column">
      <div class="item_container"></div>
    </div>
    <div class="column">
      <div class="item_container"></div>
    </div>
    <div class="column">
      <div class="item_container"></div>
    </div>
  </section>
</main>
