<!--Pre Built Lists Links -> To go To outside site-->
<h1>Foodies, Find your Favorites</h1>

<div class="floatBox">
  <h2>
    rec·i·pe /ˈresəˌpē/
  </h2>
  <p>
    A recipe is a list of ingredients and a set of instructions that tell you
    how to cook something. ... If you say that something is a recipe for a
    particular situation, you mean that it is likely to result in that
    situation.
  </p>
</div>
<div class="pCont">
  <div class="view">View Recommended Recipes Here</div>
  <div class="preBuilt">
    <div class="preBox">
      <a
        href="https://www.delish.com/cooking/g2150/comfort-food/"
        id="preListLink"
        >Comfort Food</a
      >
    </div>
    <div class="preBox">
      <a
        href="allrecipes.com/recipes/454/everyday-cooking/more-meal-ideas/15-minute-meals/"
        id="preListLink"
        >15 minute Meals</a
      >
    </div>
    <div class="preBox">
      <a href="https://www.allrecipes.com/recipes/79/desserts/" id="preListLink"
        >Delicious Desserts</a
      >
    </div>
    <div class="preBox">
      <a
        href="https://www.allrecipes.com/recipes/85/holidays-and-events/"
        id="preListLink"
        >Holiday Classics</a
      >
    </div>
  </div>
</div>
